* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(206, 209, 219);
}

body {
  font-family: sans-serif;
}

.head-content {
  background-color: #7c109a;
  color: #fff;
  padding: 50px 30px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.head-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to left, rgb(212, 0, 255), #7c109a);
}

.head-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, rgb(212, 0, 255), #7c109a);
}

.head-content h1 {
  font-weight: normal;
  font-size: 6rem;
  margin: 0;
}

.head-content h2 {
  font-weight: normal;
  font-size: 1.7rem;
  margin: 0;
}

.filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.filter-nav a {
  text-decoration: none;
  padding: 9px;
  color: #7c109a;
  border: 1px solid #b77fc8;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-nav a:hover {
  background-color: #d8aae6;
}

.filter-nav .active {
  background-color: #702acb;
  color: white;
}

.filter-nav .active:hover {
  background-color: #702acb;
  cursor: default;
}

.animals {
  max-width: 700px;
  margin: 0 auto;
}

.animal-card {
  display: grid;
  margin-bottom: 30px;
  /* grid-template-columns: 100%; */
  grid-template-columns: 200px 1fr;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.animal-card-photo {
  order: 1;
  grid-row: 1;
  overflow: hidden;
}

.animal-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.animal-card:hover img {
  transform: rotate(20deg) scale(1.4);
}

.animal-card-text {
  padding: 20px 25px;
}

.animal-card-text h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.8em;
}

.animal-card-text small {
  color: rgb(108, 105, 105);
}

.animal-card-text p {
  margin: 0.8rem 0;
  padding: 0;
  line-height: 1.5;
}

.primary-btn {
  background: linear-gradient(#d147d1, #702acb);
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.primary-btn:hover {
  background: linear-gradient(#e35ea7, #d82eb9);
}

@media screen and (max-width: 768px) {
  .animal-card {
    /* grid-template-columns: 200px 1fr; */
    grid-template-columns: 100%;
  }

  .head-content h1 {
    font-size: 3rem; 
  }
  .only-small-screen{
    display: none;
  }
}
